<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


<div class="mt-5">
    <f:form method="post" controller="Search" action="search" name="search" pageUid="{settings.detailPid}">
        <div class="input-group">
            <span class="input-group-text">{settings.form.searchbar}</span>
            <f:form.textfield property="keyword" class="form-control" />
            <f:if condition="{settings.category} == 'radius'">
                <f:form.select class="form-control" name="radius" options="{10: '10 km', 30: '30 km', 100: '100 km'}" />
            </f:if>

            <div class="input-group-append">
                <f:form.submit value="{settings.form.okay}" class="btn btn-success" />
            </div>
        </div>
    </f:form>
</div>

</html>